body{
    font-family: ff-providence-sans-web-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}


.content{
    padding:5px;
}


.welcome{
    font-size: 40px;
    text-align: center;
}

.navbar{
    background-color: #C0886A;
    width:100%;
}
.logo{
    width: 2em;
    height: 2em;
    margin:auto;
    
    
    
    
}

.title{
    margin:auto;
    text-align: center;
}

.account{
    font-size: 30px;
}

.card-img-top{
    box-shadow: 2px 2px lightgray;
}

/* 'tabs' is the css styling for the buttons on this page*/
.tabs{
    margin:auto;
    background-color: #fff;
    box-shadow: 2px 2px lightgray;
    border: none;
    color: #473F3B;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 16px;
    width:80%;
    justify-content: center;
    position: relative;
    top:20px;
    font-size:14px;
}

.bi-chevron-right{
    margin-left:20%;
}

.tabs:hover{
    background-color: #78869E;
    color: #fff;
}








/*styling the bottom icon tray*/
.tray button{
     color: #fff;
     font-size: 1.3em;
     padding:0 1em 0 1em;
     margin-top: 8px;
    
}

.tray{
    margin: auto;
}



.subscript{
    font-size: 15px;
}



.tray button a{
    color:#fff;
    text-decoration: none;
}