body{
    font-family: ff-providence-sans-web-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content{
    padding-bottom: 90px;
}

.banner-nav{
    position:fixed;
}

.welcome{
    font-size: 40px;
    text-align: center;
}

.navbar{
    background-color: #C0886A;
    width:100%;
}
.logo{
    width: 2em;
    height: 2em;
    margin:auto;
    
    
    
}


/* styling the haeder here*/
.title{
    margin:auto;
    text-align: center;
}

.honeys{
    font-size: 30px;
}



.text{
  position: absolute;
  top: 8px;
  left: 16px;
}

.carousel{
    height:220px;
    width:60%;
    margin:auto;
}


/*making sure these links cooperate properly, no underlines etc.*/
.selection{
    margin:auto;
    text-align: center;
    font-size:16px;
    color: #473F3B;
    text-decoration: none;
}

.selection a{
    color: #473F3B;
    text-decoration: none;
}

.single a{
    color:#473F3B;
    text-decoration: none;
}

.single:active{
    color: #473F3B;
}

.bi-chevron-right{
    font-size: 12px;
    padding: 20px;
}




/*styling the bottom icon tray*/
.tray button{
     color: #fff;
     font-size: 1.3em;
     padding:0 1em 0 1em;
     margin-top: 8px;
    
}

.tray{
    margin: auto;
}



.subscript{
    font-size: 15px;
}



.tray button a{
    color:#fff;
    text-decoration: none;
}

.footer{
    position:fixed;
}