body{
    font-family: ff-providence-sans-web-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content{
    padding:5px;
}


.welcome{
    font-size: 40px;
    text-align: center;
}

.navbar{
    background-color: #C0886A;
    width:100%;
}
.logo{
    width: 2em;
    height: 2em;
    margin:auto;
    
    
    
}

.title{
    margin:auto;
    text-align: center;
}

.shop{
    font-size: 30px;
}

.card{
    width:50%;
    border: none;
    box-shadow: 2px 2px lightgray;
}

.card-img{

    height:220px;

}

.card-title{
    color: #473F3B ;
    position:relative;
    top:170px;
    text-align: center;
}

.honeys{
    text-decoration: none;
    color: #473F3B ;
}

.row1{
    margin-left: 2%;
    margin-right: 2%;
    padding:5px;
}

.row2{
    margin-left:2%;
    margin-right: 2%;
    padding-bottom:100px;
}

h5 a:active{
    color:#78869E;
}







/*styling the bottom icon tray*/
.tray button{
    color: #fff;
    font-size: 1.3em;
    padding:0 1em 0 1em;
    margin-top: 8px;
   
}

.tray{
   margin: auto;
}

.tray button a:active{
   color: #78869E;
}

.tray button:visited{
   color: #78869E;
}

.subscript{
   font-size: 15px;
}

.tray button a{
    color:#fff;
    text-decoration: none;
}



